.LargeImage{
    
}
.ImgContainer{
    display:block;
    min-height:320px;
  
    object-fit: contain;
}

img{
    max-width: 100%;
    
}


@media (min-width: 600px) {
    img {
        max-width: 600px;
    }
    .ImgContainer{
        min-height:600px;
        max-height:600px;
    }
}