.ThumbnailView {
    width: 100%;
    margin:auto;
}
.ThumbnailsContainer{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: center;
}
.ThumbnailContainer{
    padding-left: 2px;
    padding-right: 2px;
    min-height:150px;
}

.PrevButtonOverlay {
    position: fixed;
    
    width: 100px;
    height: 100%;
    top: 40%;
    left:-82px;
    
    z-index: 2;
    
}
.NextButtonOverlay {
    
    position: fixed;
    top:40%;
    width: 100px;
    height: 100%;
    right: -50px;
    
    z-index: 2;
}


.PrevButton{
    display:block;
    text-decoration: none;
    font-size:60px;
    padding: 8px 16px;
    background-color: rgba(0,0,0,0.5);
    border-radius:50%;
    text-align:right;
    width:100px;
    height:100px;
}
.NextButton{
    display:block;
    text-decoration: none;
    font-size:60px;
    padding: 8px 16px;
    background-color: rgba(0,0,0,0.5);
    border-radius:50%;
    text-align:left;
    width: 100px;
    height:100px;
}


@media (min-width: 600px) {
    .ThumbnailView{
        width:50%;
        
    }
    .ThumbnailContainer{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .NextButton, .PrevButton {
        display:none;
    }
}