.ThumbnailView {
    width: 100%;
    margin:auto;
}
.ThumbnailsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 600px;
}
.ThumbnailContainer{
    padding-left: 2px;
    padding-right: 2px;
    min-height:150px;
}

.PrevButtonOverlay, .NextButtonOverlay{
    position: fixed;
    width: 100px;
    height: 100%;
    top: 40%;
    z-index: 2;
}

.PrevButtonOverlay {
    left:-82px;
}

.NextButtonOverlay {
    right: -50px; 
}

.PrevButton, .NextButton{
    display:block;
    text-decoration: none;
    font-size:60px;
    padding: 8px 16px;
    background-color: rgba(0,0,0,0.5);
    border-radius:50%;
    width:100px;
    height:100px;
}

.NextButton{
    text-align:left; 
}

.PrevButton {
    text-align:right;
}

@media (min-width: 700px) {
    .ThumbnailView{
        width:50%;
        
    }
    .ThumbnailContainer{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .NextButton, .PrevButton {
        display:none;
    }
    .ThumbnailsContainer{
        
        min-height: 510px;
    }
}